<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.github.so1omon563.aws-metadata-agent.forwarder</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/libexec/aws-metadata-agent/aws-metadata-forwarder</string>
    <string>setup</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false/>
  </dict>
  <key>StandardOutPath</key>
  <string>/var/log/aws-metadata-agent-forwarder.log</string>
  <key>StandardErrorPath</key>
  <string>/var/log/aws-metadata-agent-forwarder.log</string>
  <key>ProcessType</key>
  <string>Background</string>
</dict>
</plist>
